.ContainerGlobal {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    color: black;
    background: white;
}

@media only screen and (max-width: 400px) {
    .ContainerGlobal {
        display: flex;
        height: 60px;
        width: 100%;
        justify-content: center;
        text-align: center;
        font-size: 13px;
        padding: 0px 20px;
        color: black;
    }
}