.ContainerGlobal {
    display: flex;
    height: 60px;
    width: 100%;
    color: black;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.Titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    width: 100%;
    text-align: center;
    padding: 60px;
}


@media only screen and (max-width: 350px) {
    .ContainerGlobal {
        display: flex;
        height: 60px;
        width: 100%;
        font-size: 12px;
        color: black;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .Titulo {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 60px;
        color: black;
        width: 100%;
        text-align: center;
    }
}