.imagemEspacoGlobal {
    display: flex;
    width: 100%;
    justify-content: center;
}

.imagemEspaco {
    display: flex;
    width: 50%;
    height: 500px;
    z-index: 1;
    flex-direction: column;
}

.espacoLinha {
    display: flex;
    width: 5%;
    margin-top: 135px;
}

.linhaReta {
    display: flex;
    width: 24%;
    margin-left: -360px;
    height: 2px;
}

.linhaReta1 {
    background: #D7E9B9;
    width: 90%;
    margin-left: -510px;
    height: 2px;
}

.linhaReta2 {
    background: #FD8A8A;
    width: 300px;
    margin-top: 100px;
    margin-left: -160px;
    height: 2px;
}

.linhaReta3 {
    background: #B9F3FC;
    width: 300px;
    margin-top: 200px;
    margin-left: -260px;
    height: 2px;
}

.linhaReta4 {
    background: #EAEAEA;
    width: 400px;
    margin-top: 300px;
    margin-left: -260px;
    height: 2px;
}

.linhaReta5 {
    background: orange;
    width: 200px;
    margin-top: 400px;
    margin-left: -460px;
    height: 2px;
}

.linhaReta6 {
    background: #c4c1e0;
    width: 140px;
    margin-top: 500px;
    margin-left: -200px;
    height: 2px;
}

.espacoQuadrado {
    display: flex;
    width: 200px;
    height: 700px;
    margin-top: 125px;
}

.quadrado1 {
    height: 20px;
    margin-left: -520px;
    width: 160px;
    cursor: pointer;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1;
    border: none;
    background: #D7E9B9;
}

.quadrado1:hover {
    height: 20px;
    margin-left: -520px;
    width: 160px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #9dff00;
}

.quadrado2 {
    height: 20px;
    margin-left: -60px;
    margin-top: 100px;
    border: none;
    z-index: 1;
    width: 160px;
    border-radius: 5px;
    background: #FD8A8A;
}

.quadrado2:hover {
    height: 20px;
    margin-left: -60px;
    margin-top: 100px;
    border: none;
    width: 160px;
    ;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #ff4141;
}

.quadrado3 {
    height: 20px;
    margin-left: -150px;
    margin-top: 200px;
    z-index: 1;
    border: none;
    width: 160px;
    border-radius: 5px;
    cursor: pointer;
    background: #B9F3FC;
}

.quadrado3:hover {
    height: 20px;
    margin-left: -150px;
    margin-top: 200px;
    border: none;
    width: 160px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 10px #20e1ff;
}

.quadrado4 {
    height: 20px;
    margin-left: -0px;
    margin-top: 300px;
    border: none;
    width: 160px;
    z-index: 1;
    border-radius: 5px;
    cursor: pointer;
    background: #EAEAEA;
}

.quadrado4:hover {
    height: 20px;
    margin-left: -0px;
    margin-top: 300px;
    border: none;
    width: 160px;
    ;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 10px #727272;
}

.quadrado5 {
    height: 20px;
    margin-left: -380px;
    margin-top: 400px;
    z-index: 1;
    width: 160px;
    ;
    border-radius: 5px;
    cursor: pointer;
    background: orange;
    border: none;
}

.quadrado5:hover {
    height: 20px;
    margin-left: -380px;
    margin-top: 400px;
    width: 160px;
    ;
    border-radius: 5px;
    cursor: pointer;
    background: orange;
    box-shadow: 0px 0px 10px rgb(255, 180, 41);
    border: none;
}

.quadrado6 {
    height: 20px;
    margin-left: -200px;
    margin-top: 500px;
    width: 160px;
    ;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1;
    background: #c4c1e0;
    border: none;
}

.quadrado6:hover {
    height: 20px;
    margin-left: -200px;
    margin-top: 500px;
    width: 160px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 10px #321bff;
    border: none;
}

@media only screen and (max-width: 1837px) {
    .linhaReta2 {
        background: #FD8A8A;
        width: 300px;
        margin-top: 100px;
        margin-left: -130px;
        height: 2px;
    }
}

@media only screen and (max-width: 1782px) {
    .linhaReta2 {
        background: #FD8A8A;
        width: 300px;
        margin-top: 100px;
        margin-left: -130px;
        height: 2px;
    }

    .linhaReta1 {
        width: 120px;
    }

    .quadrado1 {
        margin-left: -480px;
    }
}

@media only screen and (max-width: 1745px) {
    .linhaReta1 {
        width: 220px;
        margin-left: -430px;
    }

    .quadrado1 {
        margin-left: -400px;
    }

    .linhaReta2 {
        margin-left: -250px;
    }
}

@media only screen and (max-width: 1585px) {
    .linhaReta1 {
        width: 280px;
        margin-left: -400px;
    }

    .quadrado1 {
        margin-left: -300px;
    }

    .linhaReta2 {
        margin-left: -250px;
    }
}

@media only screen and (max-width: 1525px) {
    .linhaReta1 {
        width: 220px;
        margin-left: -330px;
    }
}

@media only screen and (max-width: 1389px) {
    .linhaReta1 {
        width: 280px;
        margin-left: -330px;
    }

    .quadrado1 {
        margin-left: -220px;
    }
}

@media only screen and (max-width: 1383px) {
    .linhaReta1 {
        width: 220px;
        margin-left: -280px;
    }

    .quadrado1 {
        margin-left: -220px;
    }

    .linhaReta2 {
        margin-left: -220px;
    }
}

@media only screen and (max-width: 1283px) {
    .linhaReta1 {
        width: 260px;
        margin-left: -270px;
    }

    .quadrado1 {
        margin-left: -170px;
    }

    .linhaReta2 {
        margin-left: -220px;
    }
}