@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');
.containerItem{
    display: flex;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    background: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 20px;
    box-shadow: 0px 3px 3px black;
}

.containerItem:hover{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    background: white;
    margin: 20px;
    box-shadow: 0px 3px 3px rgb(0, 187, 0);
}

.title {
    color: black;
    font-size: 13px;
    padding: 0px 20px;
}

.description {
    font-size: 12px;
    color: black;
    font-family: 'Rajdhani', sans-serif;
    padding: 0px 20px;
}

@media only screen and (max-width: 800px) {
    .containerGlobal{
        width: 100%;
    }
    
    .containerText{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .constainerSelecao{
        padding: 20px 5px;
        width: 100%;
        border: 1px solid rgb(218, 218, 218);
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .constainerSelecao:hover{
        padding: 20px 5px;
        width: 100%;
        border: 1px solid rgb(218, 218, 218);
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .title {
        color: black;
        font-size: 16px;
    }
    
    .description {
        font-size: 14px;
        color: black;
        font-family: 'Rajdhani', sans-serif;
    }
}