.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
}

@media only screen and (max-width: 450px) {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding-bottom: 30px;
        padding-top: 40px;
        width: 100%;
        text-align: center;
    }
}