.ContainerGlobal{
    display: flex;
    height: 30px;
    justify-content: center;
    align-items: center;
    width:100%;
    text-align: center;
    color: black;
    padding-top: 50px;
}

.link{
    cursor: pointer;
    justify-content: center;
    align-items: center;
    color: black;
    text-align: center;
}

@media only screen and (max-width: 400px) {
    .ContainerGlobal {
        display: flex;
        height: 30px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .link{
        cursor: pointer;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }
}